* {
  font-size: 1rem;
  color: #fff;
}

body {
  margin: 30px;
  background: #444;
  font-family: 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  font-size: 1.375rem;
}

ul.todos {
  display: flex;
  flex-direction: column;
  padding: 0;
}

li.todo {
  background: #ffea00;
  display: inline-block;
  width: fit-content;
  border-radius: 3px;
  padding: 5px 10px;
  margin-bottom: 10px;
  animation: fadeInAnimation ease-in 0.25s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
}

li.todo > .description {
  margin-right: 5px;
}

input, li.todo > .description, button.add  {
  color: black;
}

.remove {
  padding: 2px;
  background: #94880a;
  color: #fff;
  border-radius: 3px;
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.remove:hover {
  background: red;
}

.remove > span {
  height: 19px;
  line-height: 1;
  font-weight: 600;
}

.remove, button.add:not(:disabled) {
  cursor: pointer;
}

input, button.add {
  padding: 5px 10px;
}

@keyframes fadeInAnimation { 
  0% { 
    opacity: 0; 
  } 
  100% { 
    opacity: 1; 
  } 
} 